doctype html
head
  title Private chat room | Demo
  link(type='text/css' rel='stylesheet' href='/stylesheets/stylesheet.css')
  //- link(type='text/css' rel='stylesheet' href='/public/stylesheets/style.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700' rel='stylesheet' type='text/css')
header.banner
  h1.bannertext
    a#logo(href='http://tutorialzine.com/2014/03/nodejs-private-webchat/')
      | ESC 
      span Group 1
      |  REAL TIME CHAT
section.section
  // These elements are displayed as white info cards in the middle of the screen
  .left
    img#leftImage(src='/images/unnamed.jpg')
    .info
      h2
        span.nickname-left
        |  has left this chat.
      h5 Invite somebody else by sending them this page.
  .toomanypeople
    h2 Oops, you can not join this chat!
    h5
      | There are already two people in it.

  .invite-textfield
    h2 An email reminder has been sent to admin, we will be with you shortly
       | .
    h5 keep the website open, we will remind you when an admin enters
  .nomessages
    img#noMessagesImage(src='/images/unnamed.jpg')
    .info
      h2
        | You are chatting with 
        span.nickname-chat
        | .
      h5 Send them a message from the form below!
  .chatscreen
    ul.chats
      // The chat messages will go here
  footer
    form#chatform
      textarea#message(placeholder='Write something..')
      input#submit(type='submit' value='SEND')
//- footer
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='/javascripts/moment.min.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/chat.js')
