doctype html
//
  This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
  It includes jQuery, socket.io.js (it is automatically served by the socket.io library),
  and a few more JavaScript files that you should check out.
head
  title Private chat room | Demo
  link(type='text/css' rel='stylesheet' href='../stylesheets/stylesheet.css')
  //- link(type='text/css' rel='stylesheet' href='/public/stylesheets/style.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700' rel='stylesheet' type='text/css')
header.banner
  h1.bannertext
    a#logo(href='http://tutorialzine.com/2014/03/nodejs-private-webchat/')
      | ESC 
      span Group 1
      |  REAL TIME CHAT
section.section
  // These elements are displayed as white info cards in the middle of the screen
  .connected
    img#creatorImage(src='../images/unnamed.jpg')
    .infoConnected
      h2 Who are you?
      br
      form.loginForm
        input#yourName(type='text' placeholder='Your nick name')
        br
        input#yourEmail(type='text' placeholder='Your email address')
        br
        input#yourEnter(type='submit' value='ENTER')
  .personinside
    img#ownerImage(src='../images/unnamed.jpg')
    .infoInside
      h2
        | Chat with 
        span.nickname-chat
      br
      form.loginForm
        input#hisName(type='text' placeholder='Your nick name')
        br
        input#hisEmail(type='text' placeholder='Your email address')
        br
        input#hisEnter(type='submit' value='CHAT')
  .invite-textfield
    h2 Oops, there are no other people in this chat!
    h5 Invite a friend by sending them this URL
    .link
      a#link(title='Invite a friend' href='')
  .left
    img#leftImage(src='../images/unnamed.jpg')
    .info
      h2
        span.nickname-left
        |  has left this chat.
      h5 Invite somebody else by sending them this page.
  .toomanypeople
    h2 Oops, you can not join this chat!
    h5
      | There are already two people in it. Would you like to create a 
      a#room(title='New Room' href='/create') new room
      | ?
  .nomessages
    img#noMessagesImage(src='../images/unnamed.jpg')
    .info
      h2
        | You are chatting with 
        span.nickname-chat
        | .
      h5 Send them a message from the form below!
  .chatscreen
    ul.chats
      // The chat messages will go here

  form#chatform
    textarea#message(placeholder='Write something..')
    input#submit(type='submit' value='SEND')
footer
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='../javascripts/moment.min.js')
script(src='/socket.io/socket.io.js')
script(src='../javascripts/chat.js')
