doctype html
//
  This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
  It includes jQuery, socket.io.js (it is automatically served by the socket.io library),
  and a few more JavaScript files that you should check out.
head
  title Private chat room | Demo
  link(type='text/css' rel='stylesheet' href='../stylesheets/stylesheet.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700' rel='stylesheet' type='text/css')
header.banner
  h1.bannertext
    a#logo(href='http://tutorialzine.com/2014/03/nodejs-private-webchat/')
      | ESC 
      span Group 1
      |  REAL TIME CHAT
section.section
  // These elements are displayed as white info cards in the middle of the screen
  //- img#creatorImage(src='../images/unnamed.jpg')
  .selectadmin
    h2 Please select an person to serve you
    br
    |
    for admin in admins
      // use the id of the admin as the real time chat website address
      a(href='/chat/admin/' + admin.userId) #{admin.firstName}
        img(src='../images/unnamed.jpg')
    | 
    h2 if you dont know any admin
    .link
      // TODO: add these routes
      a#link(title='Chat with all the admin' href='/chat/all_admin/' + user.userId) Chat with all the admin
  footer
//- footer
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='../javascripts/moment.min.js')
script(src='/socket.io/socket.io.js')
script(src='../javascripts/chat.js')
