extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="lead_email", type="email", placeholder="Enter your email address")
    button(type="submit") Submit
  if leads
    h1 leads
    for lead in leads
      //- span is to tell the browser to put the following body inline with the span body
      p 
        span #{lead.email}
         
        a(href="/lead/" + lead.id)  Details
