//- - var count =1
//- doctype html
//- html(lang='en')
//-     include common/header.pug
//-     +header(title)
//-     body
//-         header
//-         include common/navbar.pug
//-         +navbar(user)
		
		
//-         .container
//-             br
//-             include common/carousel.pug
//-             +carousel(title)
//-             style.
//-                 .carousel-inner > .item > img{
//-                 width: 100%;
//-                 margin: auto;
//-                 }
        


//-     include common/footer.pug
//-     +footer()

doctype html
html(lang='en')
  include common/header.pug
  title= title
  +header(title)
  body
  head
    include common/navbar.pug
    +navbar(user)
    .container-fluid
      .bd-example
        #carouselExampleCaptions.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
            li(data-target='#carouselExampleCaptions', data-slide-to='1')
            li(data-target='#carouselExampleCaptions', data-slide-to='2')
            li(data-target='#carouselExampleCaptions', data-slide-to='3')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='images/carousel/slide6.jpg', alt='...')
              .carousel-caption.d-none.d-md-block
                h3 First slide label
                p Nulla vitae elit libero, a pharetra augue mollis interdum.
            .carousel-item
              img.d-block.w-100(src='images/carousel/slide5.png', alt='...')
              .carousel-caption.d-none.d-md-block
                h3 Second slide label
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .carousel-item
              img.d-block.w-100(src='images/carousel/slide7.jpg', alt='...')
              .carousel-caption.d-none.d-md-block
                h3 Third slide label
                p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            .carousel-item
              img.d-block.w-100(src='images/carousel/slide8.jpg', alt='...')
              .carousel-caption.d-none.d-md-block
                h3 Third slide label
                p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          a.carousel-control-prev(href='#carouselExampleCaptions', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleCaptions', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    include common/footer.pug
    +footer()
    

    //- .container-fluid
    //-     link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
    //-     link(href='/public/stylesheets/chatstyle.css')
    //-     script(src='//code.jquery.com/jquery-1.11.1.min.js')
    //-     script(src='/public/javascripts/staticchat.js')
    //-     script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
        
        
    //-     // ---- Include the above in your HEAD tag --------
    //-     .chat_window
    //-     .top_menu
    //-         .buttons
    //-         .button.close
    //-         .button.minimize
    //-         .button.maximize
    //-         .title Chat
    //-     ul.messages
    //-     .bottom_wrapper.clearfix
    //-         .message_input_wrapper
    //-         input.message_input(placeholder='Type your message here...')
    //-         .send_message
    //-         .icon
    //-         .text Send
    //-     .message_template
    //-     li.message
    //-         .avatar
    //-         .text_wrapper
    //-         .text

