
doctype html
html(lang='en')
  include common/header.pug
  title=title
  +header(title)
  body
  head
    
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-138699201-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138699201-1');
    include common/navbar.pug
    +navbar(user)
    .container-fixed
      html
  head
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Quick Access
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='#') Help
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...')


        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header Quick Access
          .row.placeholders
            .col-xs-6.col-sm-3.placeholder 
              - url = 'https://analytics.google.com/analytics/web/#/report-home/a138699201w199385313p193834823'             
              a(href=url) 
                img.img-responsive(src="/images/googleAnalytics.png", width='250', height='200', alt='Generic placeholder thumbnail' )
            .col-xs-6.col-sm-3.placeholder
              a(href="/room") 
                img.img-responsive(src='/images/006-talk.png', width='150', height='150', alt='Generic placeholder thumbnail')
              span
              h5 RT Chat
            .col-xs-6.col-sm-3.placeholder
              a(href="/") 
                img.img-responsive(src='/images/001-ticket.png', width='150', height='150', alt='Generic placeholder thumbnail')
              span
              h5 Ticket
            .col-xs-6.col-sm-3.placeholder
              a(href="/") 
                img.img-responsive(src='/images/ViewUser.png', width='150', height='150 ', alt='Generic placeholder thumbnail')
              span
              h5 View User
            //- .col-xs-6.col-sm-3.placeholder
            //-   a(href="/room") 
            //-     img.img-responsive(src='/images/004-notification.png', width='100', height='100', alt='Generic placeholder thumbnail')
            //-   span
            //-   h4 Notification 
                
          h2.sub-header Outstanding Tickets
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Index #
                  th Ticket ID
                  th Title
                  th Comments
                  th Status
              tbody
                tr
                  td 1
                  td 12345
                  td Debugging Issues
                  td Sorry I can't help.
                  td Unsolved
                tr
                  td 2
                  td 123456
                  td Server Down
                  td Buy new server.
                  td Solved
                
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='../../dist/js/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    script(src='../../assets/js/vendor/holder.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='../../assets/js/ie10-viewport-bug-workaround.js')

    include common/footer.pug
    +footer()
    
    