- var count =1
doctype html
html(lang='en')
    include common/header.pug
    +header(title)
    body
        header
        include common/navbar.pug
        +navbar(user)
		
		
        .container
            br
            include common/carousel.pug
            +carousel(title)
            style.
                .carousel-inner > .item > img{
                width: 100%;
                margin: auto;
                }
        


    include common/footer.pug
    +footer()
