doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    header
      include ../common/navbar.pug
      +navbar(user)
      .container-fluid
        .row.align-items-center
          .col-md-10.order-md-1.text-center.text-md-left
            h1 tickets
            table.table
              thread
              tr
                th(scope="col") Name
                th(scope="col") Email
                th(scope="col") Phone Number
                th(scope="col") Topic
                th(scope="col") Description
              tr
              tbody
                tr(id=ticket.ticketId)
                  td
                    span #{ticket.user.firstName + " " + ticket.user.lastName}
                  td
                    span #{ticket.user.email}
                  td
                    span #{ticket.user.phoneNumber}
                  td
                    span #{ticket.topic}  
                  td
                    span #{ticket.description}
                tr
            
            form(action="/ticket/" + user.userId + "/" + ticket.ticketId + "/respond", method="POST")
              em
                strong 
                  label(for='responses') Dev's Responses:
                  .input-group.mb-3
                    textarea#responses.form-control(name='responses',type='text', placeholder='max 4000 chars',maxlength=4000, wrap="soft") #{ticket.responses}
                    .input-group-append
                      button(type="submit").btn.btn-primary Submit
            


    include ../common/footer.pug
    +footer()
    script(src="/javascripts/Counter.js")
