doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    header
      include ../common/navbar.pug
      +navbar(user)
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            - let topics = ["API Dev Ops", "Chat as a service", "recruitment Platform", "Aesop", "Travel market space", "Banking App", "AR car visualizer"];
            h1.display-4.m-b-2 Ticket Form

            // register form
            form(action='/ticket/form',method='POST' )
              div.form-group
                label(for='name') First Name:
                input#name.form-control(type='text', placeholder='e.g. David', name='firstName', value=user.firstName, readonly="readonly")
              div.form-group
                label(for='name') Last Name:
                input#name.form-control(type='text', placeholder='e.g. Beckham', name='lastName', value=user.lastName, readonly="readonly")
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='name@email.com', name='email', value=user.email, readonly="readonly")
              div.form-group
                label(for='phoneNumber') Phone Number:
                input#phoneNumber.form-control(type='text', placeholder='e.g. 91234567' name='phoneNumber', value=user.phoneNumber, readonly="readonly")
              div.form-group
                label(for='topic') Topics:
              br
              select(name='topic')
                each topic in topics
                  option#topic.form-control(value=topic) #{topic}
              div.form-group
                label(for='description') Description:
                textarea#description.form-control(name='description',type='text', placeholder='max 4000 chars',maxlength="4000", wrap="soft", row="10")
                
              button.btn.btn-primary(type='submit') Submit



    include ../common/footer.pug
    +footer()
    //- script(src="../javascripts/tickets.js")


