doctype html
html(lang='en')
  include ../common/header.pug
  +header("Tickets")
  body
    header
      include ../common/navbar.pug
      +navbar(user)
      .container0-fluid
        .row.align-items-center
          .col-md-10.order-md-1.text-center.text-md-left
          - let topics = ["API Dev Ops", "Chat as a service", "recruitment Platform", "Aesop", "Travel market space", "Banking App", "AR car visualizer"];
            h1 tickets
            form(action='/my_tickets/ticket/' + user.userId + '/' + ticket.ticketId,method='POST' )
              div.form-group
                label(for='Topic') Topic
                select(name='topic')
                  each topic in topics
                    option#topic.form-control(value=topic) #{topic}
              div.form-group
                label(for='description') Description:
                textarea#responses.form-control(name='responses',type='text', placeholder='max 4000 chars',maxlength=4000, wrap="soft") #{ticket.responses}
              div.form-group
                label(for='email') Dev's Response:
                input#email.form-control(type='email', placeholder='name@email.com', name='email', value=user.email, readonly="readonly")  
              button.btn.btn-primary(type='submit') Submit


    include ../common/footer.pug
    +footer()
    script(src="../javascripts/tickets.js")


