- var count = 1
doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    header
      include ../common/navbar.pug
      +navbar(user)
      .container-fluid
        .row.align-items-center
          .col-md-10.order-md-1.text-center.text-md-left
            h1 tickets
            p
              span
                a#tickets0(href="/my_tickets/" + user.userId + "/0") Queued #{pre}
                |          |
                a#tickets1(href="/my_tickets/" + user.userId + "/1") In-Progress #{pre}
                |          |
                a#tickets2(href="/my_tickets/" + user.userId + "/2") Solved
            table.table
              thread
              tr
                th(scope="col") #
                th(scope="col") Topic
                th(scope="col") Description
                th(scope="col") Dev Responses
                th(scope="col") Edit
                th(scope="col") 
              tr
              tbody
              if tickets != NULL
                for ticket in tickets.tickets
                  if !ticket.tag
                    tr(id=ticket.id)
                      td
                        span #{count++}
                      td
                        span #{ticket.topic}  
                      td
                        span #{ticket.description}
                      td
                        span #{ticket.responses}
                      td
                        a(href="/my_tickets/" + user.userId + '/' + ticket.ticketId) Edit
                      td
                        button(onclick=`deleteticket('${ticket.id}')`).btn.btn-primary Delete
                  


    include ../common/footer.pug
    +footer()
