mixin navbar(user)
    nav.navbar.navbar-expand.navbar-light.bg-light
      
      a(href="/", aria-label="Accenture Homepage").navbar-brand.mr-0.mr-md2
        img(src="/images/accenture.png", width="36", height="36")
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a#btn_home.nav-link(href="/" data-toggle="tooltip" data-placement="bottom" title="Home Page") 
              img(src='../images/home.svg', width="30", height="30")
          li.nav-item
            a#btn_tickets.nav-link(href="/tickets" data-toggle="tooltip" data-placement="bottom" title="Your Tickets") 
              img(src='../images/collections.svg', width="30", height="30")
          li.nav-item
            a#btn_ticket-form.nav-link(href="/ticket_form/basics" data-toggle="tooltip" data-placement="bottom" title="Questions") 
              img(src='../images/assignment.svg', width="30", height="30")
          li.nav-item
            a#btn_chat.nav-link(href='/room' target="_blank" ata-toggle="tooltip" data-placement="bottom" title="Chat with Admin now!") 
              img(src='../images/questionanswer.svg', width="30", height="30")
      
      .navbar-right
        if user
          if user.is_admin
            ul.navbar-nav.mr-auto
                span#user_logged.navbar-text Hello #{user.firstName} (ADMIN)!
                li.nav-item
                  a#btn_logout.nav-link(href="/users/logout") Logout
          else
            ul.navbar-nav.mr-auto
              span#user_logged.navbar-text Hello #{user.firstName}!
              li.nav-item
                a#btn_logout.nav-link(href="/users/logout") Logout
        else
          .navbar-right
            ul.navbar-nav.mr-auto
              li.nav-item
                a#btn_signup.nav-link(href="/users/signup") Sign up
              li.nav-item
                a#btn_login.nav-link(href="/users/login") Login
          


