mixin navbar(user)
    nav.navbar.navbar-expand.navbar-light.bg-light
      a(href="/", aria-label="Accenture Homepage").navbar-brand.mr-0.mr-md2
        img(src="/images/accenture.png", width="36", height="36")
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a#btn_home.nav-link(href="/") Home
          li.nav-item
            a#btn_tickets.nav-link(href="/tickets") Tickets
          li.nav-item
            a#btn_ticket-form.nav-link(href="/ticket/form") Ask questions
          li.nav-item
            a#btn_chat.nav-link(href='/room') Chat
      .navbar-right
        if user
          if user.is_admin
            ul.navbar-nav.mr-auto
                span#user_logged.navbar-text Hello #{user.firstName} (ADMIN)!
                li.nav-item
                  a#btn_logout.nav-link(href="/users/logout") Logout
          else
            ul.navbar-nav.mr-auto
              span#user_logged.navbar-text Hello #{user.firstName}!
              li.nav-item
                a#btn_logout.nav-link(href="/users/logout") Logout
        else
          .navbar-right
            ul.navbar-nav.mr-auto
              li.nav-item
                a#btn_signup.nav-link(href="/users/signup") Sign up
              li.nav-item
                a#btn_login.nav-link(href="/users/login") Login
          
