doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-138699201-2')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-138699201-2');
    include ../common/navbar.pug
    +navbar(user)
    .container
      .row
        .col-sm-12.offset-md-2.col-md-8
          .jumbotron
            h2.text-left Profile Page
            .row
              .col-sm-12.col-md-12.col-xs-12
                form(action='/users/change_password', method='POST')
                  div.formgroup
                    label.small.mb-1.mt-3 New Password:
                    input(placeholder='New Password',required=true, name='newPW', type='password',value='').form-control
                    if (errors && errors.password)
                      p#err_password.small.text-danger #{errors.password}
                    label.small.mb-1.mt-3 Confirm New Password:
                    input(placeholder='Confirm Password',required=true, name='newPW2', type='password',value='').form-control
                    if (errors && errors.password2)
                      p#err_password2.small.text-danger #{errors.password2}
                    button.mt-3.btn.btn-primary(type='submit') Confirm Changes
    include ../common/footer.pug
    +footer()
    //- script(src="/javascripts/leads.js")