doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    header
    include ../common/navbar.pug
    +navbar(user)
    .container
      .row
        .col-sm-12.offset-md-2.col-md-8
          meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
          meta(name="viewport" content="width=device-width, initial-scale=1.0")
          style(type="text/css").
            #outlook a {padding:0;}
            body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
            .ExternalClass {width:100%;}
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div, .ExternalClass blockquote {line-height: 100%;}
            .ExternalClass p, .ExternalClass blockquote {margin-bottom: 0; margin: 0;}
            #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
            img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
            a img {border:none;}
            .image_fix {display:block;}
            p {margin: 1em 0;}
            h1, h2, h3, h4, h5, h6 {color: black !important;}
            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: black;}
            h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {color: black;}
            h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {color: black;}
            table td {border-collapse: collapse;}
            table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
            a {color: #3498db;}
            p.domain a{color: black;}
            hr {border: 0; background-color: #d8d8d8; margin: 0; margin-bottom: 0; height: 1px;}
            @media (max-device-width: 667px) {
            a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: blue;
            pointer-events: none;
            cursor: default;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: orange !important;
            pointer-events: auto;
            cursor: default;
            }
            h1[class="profile-name"], h1[class="profile-name"] a {
            font-size: 32px !important;
            line-height: 38px !important;
            margin-bottom: 14px !important;
            }
            span[class="issue-date"], span[class="issue-date"] a {
            font-size: 14px !important;
            line-height: 22px !important;
            }
            td[class="description-before"] {
            padding-bottom: 28px !important;
            }
            td[class="description"] {
            padding-bottom: 14px !important;
            }
            td[class="description"] span, span[class="item-text"], span[class="item-text"] span {
            font-size: 16px !important;
            line-height: 24px !important;
            }
            span[class="item-link-title"] {
            font-size: 18px !important;
            line-height: 24px !important;
            }
            span[class="item-header"] {
            font-size: 22px !important;
            }
            span[class="item-link-description"], span[class="item-link-description"] span {
            font-size: 14px !important;
            line-height: 22px !important;
            }
            .link-image {
            width: 84px !important;
            height: 84px !important;
            }
            .link-image img {
            max-width: 100% !important;
            max-height: 100% !important;
            }
            }
            @media (max-width: 500px) {
            .column {
            display: block !important;
            width: 100% !important;
            padding-bottom: 8px !important;
            }
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: blue;
            pointer-events: none;
            cursor: default;
            }
            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: orange !important;
            pointer-events: auto;
            cursor: default;
            }
            }
          //if gte mso 9
            style(type="text/css").
              #contentTable {
              width: 600px;
              }
          body(style="width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
            table#backgroundTable(cellpadding="0" cellspacing="0" border="0" style="margin:0; padding:0; width:100% !important; line-height: 100% !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="100%")
              tbody
                tr
                  td(width="10" valign="top")  
                  td(valign="top" align="center")
                    //if (gte mso 9)|(IE)
                      table(width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #FFF; border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;")
                        tr
                          td
                    table#contentTable(cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #FFF; border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;")
                      tbody
                        tr
                          td(width="600" valign="top" align="center" style="border-collapse:collapse;")
                            table(align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #E0E4E8;" width="100%")
                              tbody
                                tr
                                  td(align="center" valign="top")
                                    a(style="color: #3498DB; text-decoration: none;" href="/")
                                      img(style="border: 1;" alt="ACNAPI Homepage" src="/images/Accenture-logo.png")
                                tr
                                  td(align="left" style="padding: 56px 56px 28px 56px;" valign="top")
                                    div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;margin: 0; font-size: 18px; color: #000;') Hey #{user.firstName}!
                                tr
                                  td(align="left" style="padding: 0 56px; padding-bottom: 28px;" valign="top")
                                    div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;font-size: 18px; color: #000;')
                                      p You have not verify your account with email address:
                                      table(align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #E0E4E8;" width="100%")
                                        tbody
                                          tr
                                            td(align="left" style="padding: 20px;" valign="top")
                                              a(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;font-size: 18px; text-align:center; font-weight: bold;') #{user.email}
                                      | <br>Please verify your account before continuing. You should have received a verification email in your email account.
                                tr
                                  td(align="left" style="padding: 0 56px; padding-bottom: 28px;" valign="top")
                                    div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;display: block; font-size: 18px;')
                                      | If the email above is not your email, 
                                      a(style="color: #3498DB;" href="/users/change_email") click here
                                      |  to change your email.
                                tr
                                  td(align="left" style="padding: 0 56px; padding-bottom: 28px;" valign="top")
                                    div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;display: block; font-size: 18px;')
                                      | Did not receive the email? Ensure your email above is correct before clicking on the button below so that our team can send you the verification code again!
                                tr
                                  td(align="left" style="padding: 0 56px; padding-bottom: 56px;" valign="top")
                                    div
                                      a(href="/users/send_email" style="background-color:#E15718;border-radius:50px;color:#ffffff;display:inline-block;font-family: 'lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight: bold;line-height:40px;text-align:center;text-decoration:none;width:180px;-webkit-text-size-adjust:none;") Send Verification
                            table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
                              tbody
                                tr
                                  td(align="center" style="padding: 30px 56px 28px 56px;" valign="middle")
                                    span(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;font-size: 16px; color: #A7ADB5; vertical-align: middle;') Powered by
                                    a(style="border: 0;" href="https://www.getrevue.co/?utm_campaign=Invite+user&utm_content=logo&utm_medium=email&utm_source=invitation" target="_blank")
                                      img(alt="Revue" width="70" height="28" style="vertical-align: middle;" src="https://www.getrevue.co/assets/email/revue_gray-99f4cab9d76e074438c58f6055605e4d45773b72dc55dd8b8305b0634fc4f381.png")
                    //if (gte mso 9)|(IE)
                  td(width="10" valign="top")  
    include ../common/footer.pug
    +footer()